<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Cclearpro.Settingsinproggman" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <Cclearpro.Settingsinproggman>
            <setting name="name" serializeAs="String">
                <value />
            </setting>
            <setting name="nameself" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="closeself" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="amin" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="infoself" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="colorbed" serializeAs="String">
                <value>DimGray</value>
            </setting>
            <setting name="info" serializeAs="String">
                <value>Что это такое? </value>
            </setting>
            <setting name="namerand" serializeAs="String">
                <value />
            </setting>
            <setting name="nameform" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="clearmd" serializeAs="String">
                <value />
            </setting>
        </Cclearpro.Settingsinproggman>
    </userSettings>
</configuration>